.subtitulo {
    color: #8d0606;
    font-family: Pacifico, cursive;
}

@media screen and (min-width: 0) {
    .subtitulo {
        font-size: 2rem;
    }
}

@media screen and (min-width: 768px) {
    .subtitulo {
        font-size: 3.187rem;
    }
}
